<h2>
Configurar Ventana de Cancelación
</h2>
<div class="card p-4">
    <div class="mb-3">
        <label>
            Horas permitidas para cancelar reservas
        </label>
        <input type="number" class="form-control">
    </div>
    <button class="btn btn-primary">
        Guardar configuración
    </button>
</div>