<h2 class="mb-4">
Activar / Desactivar Campañas
</h2>
<div class="card p-4">
    <table class="table">
        <thead>
            <tr>
                <th>Campaña</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estatus</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mundial 2026</td>
                <td>2026-03-01</td>
                <td>2026-06-30</td>
                <td><span class="badge bg-success">Activa</span></td>
                <td>
                <button class="btn btn-outline-danger btn-sm">
                    Desactivar
                </button>
                </td>
            </tr>
            <tr>
                <td>Pintura Industrial</td>
                <td>2026-07-01</td>
                <td>2026-09-30</td>
                <td><span class="badge bg-secondary">Inactiva</span></td>
                <td>
                <button class="btn btn-outline-success btn-sm">
                    Activar
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>