<h2>
Editar Campaña
</h2>
<input
type="text"
class="form-control mb-3"
placeholder="Buscar campaña">
<table class="table">
    <thead>
        <tr>
            <th>Campaña</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Acción</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>Mundial 2026</td>
                <td>01/03/2026</td>
                <td>30/03/2026</td>
                <td>
                <button class="btn btn-sm btn-primary">
                    Editar
                </button>
                </td>
            </tr>
    </tbody>
</table>