<h2>Modificar Producto</h2>
<p class="text-muted">
Selecciona un producto para editar su información.
</p>
<input
type="text"
class="form-control mb-3"
placeholder="Buscar producto por SKU o nombre">
<table class="table">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>P001</td>
            <td>Pintura Exterior</td>
            <td>$120</td>
            <td>
            <button class="btn btn-sm btn-primary">
                Editar
            </button>
            </td>
        </tr>
    </tbody>
</table>