<h2>
    Detalle del Producto
</h2>
<hr>
<div class="row">
    <div class="col-md-5">
        <img src="/img/p1.png" class="img-fluid"  alt="Producto">
    </div>
    <div class="col-md-7">
        <h4>
            Producto SKU:
            <%= sku %>
        </h4>
        <p>
            Descripción técnica del producto.
        </p>
        <p>
            Precio unitario:
            $---
        </p>
        <p>
            Peso unitario:
            ---
        </p>
        <p>
            Volumen unitario:
            ---
        </p>
        <a href="/concesionario/confirmar-reserva" class="btn btn-success">
            Agregar a reserva
        </a>
    </div>
</div>