<h2>
    Mis Reservas
</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Folio
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            <th>
                Total
            </th>
            <th>
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                R001
            </td>
            <td>
                2026-03-06
            </td>
            <td>
                Confirmada
            </td>
            <td>
                $---
            </td>
            <td>
                <a href="/concesionario/reserva/R001" class="btn btn-primary btn-sm">
                    Ver detalle
                </a>
            </td>
        </tr>
    </tbody>
</table>