<h2>
    Detalle de Reserva
</h2>
<hr>
<p>
    Folio de reserva:
    <strong>
        <%= folio %>
    </strong>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Pintura exterior premium
            </td>
            <td>
                2
            </td>
            <td>
                $---
            </td>
            <td>
                $---
            </td>
        </tr>
    </tbody>
</table>
<a href="/concesionario/cancelar-reserva" class="btn btn-danger">
Cancelar reserva
</a>