<h2>
    Confirmar Reserva
</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Pintura exterior premium
            </td>
            <td>
                2
            </td>
            <td>
                $---
            </td>
            <td>
                $---
            </td>
        </tr>
    </tbody>
</table>
<div class="mt-4">
    <button class="btn btn-primary">
        Confirmar Reserva
    </button>
</div>