<footer class="footer">
<img src="/img/ppg-logo.png" class="footer-logo">
    <div class="footer-links">
        <a href="#">
        Términos y Condiciones
        </a>
        |
        <a href="#">
        Política de Privacidad
        </a>
    </div>

</footer>