<header class="topbar">

<div class="logo-area">
    <img src="/img/ppg-logo.png" class="logo" alt="PPG Logo">
    <span class="brand">
    PPG Preventa
    </span>
</div>
<div class="campaign-timer">
    ⏱ Cierra en: 05d : 12h : 34m : 05s
</div>

<div class="actions">
    <button class="btn btn-light">
    🛒
    </button>
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
    👤 Cuenta
    </button>
    <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item">Sucursal Monterrey</a>
        </li>
        <li>
        <a class="dropdown-item">Sucursal Puebla</a>
        </li>
        <li>
        <a class="dropdown-item">Sucursal CDMX</a>
        </li>
    </ul>
</div>
</div>

</header>