<aside class="sidebar">
    <a href="/admin/dashboard" class="menu">
    Dashboard
    </a>

    <p class="text-white mt-4 mb-2">
    Administrador
    </p>

    <a href="/admin/catalogo" class="menu">
    Gestión de Catálogo
    </a>

    <a href="/admin/campanas" class="menu">
    Gestión de Campañas
    </a>

    <a href="/admin/reportes" class="menu">
    Reportes
    </a>

    <a href="/admin/auditoria" class="menu">
    Bitácora de Auditoría
    </a>

    <p class="text-white mt-4 mb-2">
    Logística
    </p>

    <a href="/logistica/reservas-confirmadas" class="menu">
    Reservas confirmadas
    </a>

    <a href="/logistica/metricas" class="menu">
    Métricas de peso y volumen
    </a>

    <a href="/logistica/reporte-operativo" class="menu">
    Reporte operativo
    </a>

    <p class="text-white mt-4 mb-2">
    Marketing
    </p>

    <a href="/marketing/metricas-comparativas" class="menu">
    Métricas comparativas
    </a>

    <a href="/marketing/ranking-productos" class="menu">
    Ranking productos
    </a>

    <a href="/marketing/tendencias-region" class="menu">
    Tendencias por región
    </a>

    <p class="text-white mt-4 mb-2">
        Concesionario
    </p>

    <a href="/concesionario/catalogo" class="menu">
        Catálogo
    </a>

    <a href="/concesionario/reservas" class="menu">
        Mis Reservas
    </a>
</aside>