<aside class="sidebar">

<a href="/admin/dashboard" class="menu active">

Dashboard

</a>

<a href="/admin/productos" class="menu">

Productos

</a>

<a href="/admin/campanias" class="menu">

Campañas

</a>

<a href="/admin/reportes" class="menu">

Reportes

</a>

</aside>