<h2>Métricas Comparativas</h2>
<hr>
<div class="container-fluid mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Selector de campañas
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Selector de periodo
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="placeholder-box metric-box">
                Preventas campaña A
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder-box metric-box">
                Preventas campaña B
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder-box metric-box">
                Crecimiento %
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder-box metric-box">
                Conversión
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="placeholder-box chart-box">
                Gráfica comparativa de preventas
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box chart-box">
                Comparación de conversiones
            </div>
        </div>
    </div>
</div>