<h2>Ranking de Productos</h2>
<hr>
<div class="container-fluid mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Filtro por campaña
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Filtro por categoría
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="placeholder-box table-box">
                Tabla ranking de productos más solicitados/apartados
            </div>
        </div>
        <div class="col-md-5">
            <div class="placeholder-box chart-box">
                Gráfica Top productos
            </div>
        </div>
    </div>
</div>