<h2>Tendencias por Región</h2>
<hr>
<div class="container-fluid mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Filtro por campaña
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box filter-box">
                Filtro por periodo
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="placeholder-box map-box">
                Mapa de ventas por región
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box table-box">
                Tabla de tendencias regionales
            </div>
        </div>
    </div>
</div>