<h2>Métricas de peso y volumen</h2>
<hr>
<div class="container-fluid mt-4">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="placeholder-box metric-card">
                Peso total enviado
             </div>
        </div>
        <div class="col-md-4">
            <div class="placeholder-box metric-card">
                Volumen total transportado
            </div>
        </div>
        <div class="col-md-4">
            <div class="placeholder-box metric-card">
                Capacidad logística usada
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="placeholder-box graph-box">
                Gráfica de métricas logísticas
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="placeholder-box table-box">
                Distribución de peso por sucursal
            </div>
        </div>
        <div class="col-md-6">
            <div class="placeholder-box table-box">
                Distribución de volumen por producto
            </div>
        </div>
    </div>
</div>